body    {
    background-image: url("../images/Avengersbackground.jpeg");
    font-family: 'Libre Baskerville', serif;
    color: black;
}
.jumbotron{
    background: linear-gradient(blue, white, black);
}
h1{
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient( red, white, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}
.heroes {
    border: 3px solid black;
}
.banner {
    height: 50%;
    width: auto;
}
.directions {
    float: right;
    margin-top: 5px;
}
.container  {
    background: white;
}
.avengers   {
    height: auto;
    margin: 5px;
    float: left;
    border: 1px;
}
.thanos     {
    margin-top: 5px;
}
@media screen and (max-width: 991px)    {
    .banner{
        width: 80%;
    }
}