body    {
    background-image: url("../images/Avengersbackground.jpeg");
    font-family: 'Libre Baskerville', serif;
    color: black;
}
.jumbotron{
    background: linear-gradient(blue, white, black);
}
h1{
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(red, white, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
       
      
    
}
.banner {
    height: 50%;
}
.directions {
    float: right;
    border: solid grey 1px;
}
.container  {
    background: white;
}
.avengers   {
    height: auto;
    margin: 5px;
    float: left;
}
.thanos     {
    margin-top: 5px;
}